[user]
        email = azuwis@gmail.com
        name = Zhong Jianxin
[color]
        ui = auto
[alias]
        co = checkout
        st = status
        di = diff
        ci = commit
        br = branch
        mt = mergetool
        sta = stash
        lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset%Cblue(%an)%Creset' --abbrev-commit --date=relative
[core]
        pager = less
        autocrlf = input
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        stat = true
        autosquash = true
        autostash = true
[push]
        default = simple
[help]
        autocorrect = true
[url "git@github.com:"]
        pushInsteadOf = git://github.com/
[filter "strippriv"]
        clean = perl -lpe 's/^(PRIV_.*)=(.*)/$1=CHANGEME/'
