[user]
	email = azuwis@gmail.com
	name = Zhong Jianxin
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	stat = true
	autosquash = true
	autostash = true
[merge]
	tool = gvimdiff
[alias]
	co = checkout
	st = status
	di = diff
	ci = commit
	br = branch
	mt = mergetool
	cp = cherry-pick
	sta = stash
	lg = log --abbrev-commit --graph --date=relative --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset'
	gch = !sh -c 'git reflog expire --expire=now --all && git gc --prune=now --aggressive'
	new = !sh -c 'git log --no-merges $1@{1}..$1@{0} "$@"' -
	mdiff = !sh -c 'git merge-tree $(git merge-base ${2:-HEAD} $1) ${2:-HEAD} $1' -
	rewind = !sh -c 'git update-ref refs/heads/$1 ${2:-HEAD}' -
	fixup = !sh -c 'git commit --fixup=$1 && git rebase --interactive --autosquash $1~' -
	sample = "!sh -c 'tmp=$(mktemp -d); git init $tmp; cd $tmp; for i in "$@"; do echo "$i" >"$i"; git add "$i"; git commit -m "$i"; done; echo $tmp' -"
	serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[color]
	ui = auto
[core]
	pager = less
	attributesfile = ~/.gitattributes
	#autocrlf = input
[diff "image"]
	command = git_diff_image
[url "ssh://git@codeberg.org:22/"]
	pushInsteadOf = https://codeberg.org/
[url "ssh://git@github.com:22/"]
	pushInsteadOf = https://github.com/
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = false
[status]
	submoduleSummary = true
