!! Zenburn color
!! https://gist.github.com/cqpx/1436584
XTerm*background  : #3f3f3f
XTerm*foreground  : #dcdccc
XTerm*cursorColor : #aaaaaa
XTerm*color0      : #3f3f3f
XTerm*color1      : #cc9393
XTerm*color2      : #7f9f7f
XTerm*color3      : #d0bf8f
XTerm*color4      : #6ca0a3
XTerm*color5      : #dc8cc3
XTerm*color6      : #93e0e3
XTerm*color7      : #dcdccc
XTerm*color8      : #000000
XTerm*color9      : #dca3a3
XTerm*color10     : #bfebbf
XTerm*color11     : #f0dfaf
XTerm*color12     : #8cd0d3
XTerm*color13     : #dc8cc3
XTerm*color14     : #93e0e3
XTerm*color15     : #ffffff

!! XTerm
XTerm*termName           : xterm-256color
XTerm*VT100.geometry     : 140x45
XTerm*utf8               : 2
XTerm*faceName           : Cousine
XTerm*faceNameDoublesize : Noto Sans Mono CJK SC
XTerm*faceSize           : 11
XTerm*scrollTtyOutput    : false
XTerm*scrollKey          : true
XTerm*fastScroll         : true
XTerm*multiScroll        : true
XTerm*saveLines          : 1024
XTerm*bellIsUrgent       : true
!! Make alt key works
XTerm*eightBitInput      : false
!! Hotkey to increase/decrease font size
XTerm*translations       : #override \
  Meta <Key> minus       : smaller-vt-font() \n\
  Meta <Key> plus        : larger-vt-font()

!! Rofi
#define bg #202227
#define fg #afafaf
#define bd #5f5f5f
#define hi #dfdfdf

rofi.lines:            5
rofi.width:            32
rofi.bw:               3
rofi.separator-style:  none
rofi.hide-scrollbar:   true
rofi.color-enabled:    true
rofi.fuzzy:            true
rofi.levenshtein-sort: false

rofi.color-normal: bg, fg, bg, bg, hi
rofi.color-urgent: bg, fg, bg, bg, hi
rofi.color-active: bg, fg, bg, bg, hi
rofi.color-window: bg, bd

!! Xautolock
Xautolock.time     : 30
Xautolock.locker   : .local/bin/lockx
Xautolock.notify   : 30
Xautolock.notifier : notify-send "Locking screen in 30 seconds"
