URxvt.geometry          : 140x58

URxvt.depth             : 32

URxvt.font              : xft:Cousine for Powerline:pixelsize=15,xft:DejaVu Sans:pixelsize=15,xft:文泉驛等寬微米黑:pixelsize=15
URxvt.boldFont          : xft:Cousine for Powerline:Bold:pixelsize=15,xft:DejaVu Sans:pixelsize=15,xft:文泉驛等寬微米黑:Bold:pixelsize=15

URxvt.title             : Terminal
URxvt.termName          : xterm-256color

!URxvt.scrollBar        : false
URxvt.scrollstyle       : plain
URxvt.scrollBar_right   : true
URxvt.scrollColor       : #444444

URxvt.scrollTtyOutput   : false
URxvt.scrollWithBuffer  : true
URxvt.scrollTtyKeypress : true

URxvt.saveLines         : 1024
URxvt.urgentOnBell      : true

URxvt.perl-ext-common   : default,matcher,tabbedex,xim-onthespot
URxvt.urlLauncher       : x-www-browser
URxvt.matcher.button    : 2
URxvt.preeditType       : OnTheSpot

URxvt.underlineColor    : #444444
URxvt.cursorColor       : #aaaaaa

URxvt.tabbed.tab-bg     : 2
URxvt.tabbed.tabbar-fg  : 10
URxvt.tabbed.autohide   : true

!! color man
URxvt.colorIT           : #87af5f
URxvt.colorBD           : #d7d7d7
URxvt.colorUL           : #87afd7

#include ".Xresources.d/solarized/solarized"
