!! Zenburn color
!! https://gist.github.com/cqpx/1436584
XTerm*background  : #3f3f3f
XTerm*foreground  : #dcdccc
XTerm*cursorColor : #aaaaaa
XTerm*color0      : #3f3f3f
XTerm*color1      : #cc9393
XTerm*color2      : #7f9f7f
XTerm*color3      : #d0bf8f
XTerm*color4      : #6ca0a3
XTerm*color5      : #dc8cc3
XTerm*color6      : #93e0e3
XTerm*color7      : #dcdccc
XTerm*color8      : #000000
XTerm*color9      : #dca3a3
XTerm*color10     : #bfebbf
XTerm*color11     : #f0dfaf
XTerm*color12     : #8cd0d3
XTerm*color13     : #dc8cc3
XTerm*color14     : #93e0e3
XTerm*color15     : #ffffff

!! XTerm
XTerm*termName               : xterm-256color
XTerm*VT100.geometry         : 140x45
XTerm*utf8                   : 2
XTerm*faceName               : Cousine:pixelsize=20
XTerm*faceNameDoublesize     : WenQuanYi Micro Hei Mono:pixelsize=19
XTerm*scrollTtyOutput        : false
XTerm*fastScroll             : true
XTerm*multiScroll            : true
XTerm*saveLines              : 1024
XTerm*bellIsUrgent           : true
